html {
	scroll-behavior: smooth;
}
body {
	color: #fff;
}

:root {
	--bgcolor: #091921;
	--white: #fff;
	--red: #ff105e;
	--grey: #a9a9a9;
	--darkgrey: #808080;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.red {
	border: 2px red solid;
}
.blue {
	border: 2px blue solid;
}
.green {
	border: 2px green solid;
}
.black {
	border: 2px black solid;
}

.color-grey {
	color: var(--grey);
}
.color-red {
	color: var(--red);
}
.color-darkgrey {
	color: var(--darkgrey);
}

.center {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: bolder;
}
.font-big {
	font-size: 30px;
}
.font-small {
	font-size: 16px;
}

.text-right {
	text-align: right;
	justify-content: right;
}
.text-left {
	text-align: left;
	justify-content: left;
}
.text-center {
	text-align: center;
	justify-content: center;
}

@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue.ttf');
}
.BebasNeue {
	font-family: BebasNeue;
}
@font-face {
	font-family: Varela;
	src: url('fonts/Varela.ttf');
}
.Varela {
	font-family: Varela;
}
@font-face {
	font-family: Ubuntu;
	src: url('fonts/Ubuntu.ttf');
}
.Ubuntu {
	font-family: Ubuntu;
}
@font-face {
	font-family: CaptainMarvel;
	src: url('fonts/CaptainMarvel.otf');
}
.CaptainMarvel {
	font-family: CaptainMarvel;
}
